config
include/*/*_export.h
src/*.o
tools/*
!tools/makefile
!tools/config.tools
app/*
!app/*.c
!app/makefile
!app/config.app
test/test.log

/test/gtest/*
/test/gtest_main.a
/test/*.o
/test/*Test
/example/*test
/example/script/__pycache__/
/app/dynmorph/dynmorph
/app/joystick/joystick_ctrl
